<div class="row profileContainer">
  <div class="col-md-1">
    <div>
      <img src="../../assets/profile.jfif" alt="image_Profile" class="imageProfile" >
    </div>
  </div>

  <div class="col-md-11">

  </div>
</div>

<div class="col-md-12" style="background: blue; padding-top: 5px; margin-top: 2px;">

</div>

<div class="row">
  <div class="col-md-11">
      <form>
          <div class="form-group" style="padding: 5px;">
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Buscar un contacto o un número">
          </div>
      </form>
  </div>
  <div class="col-md-1"> 
    <button class="imageButton"><img src="../../assets/logo_live_add.png" alt="Add Person" class="SearchImage"></button>
</div>
</div>

<div class="accordion" id="accordionExample">
 
  <div class="card">
      <div class="card-header" id="headingOne">
   
      <h5 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              Conectados
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
  
      <div class="card-body">
          <ul>
              <li class="inside-img" routerLink="/conversation/{{user.userId}}" *ngFor="let user of usersOnLine"> <img src="../../assets/logo_live_online.png" alt="image_Status" class="img_li">  {{user.nick}} </li>
            </ul>
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        Ausentes
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
      <div class="card-body">
          <ul>
              <li class="inside-img" routerLink="/conversation/{{user.userId}}" *ngFor="let user of usersAbsent"> <img src="../../assets/logo_live_away.png" alt="image_Status" class="img_li"> {{user.nick}} </li>
            </ul>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Desconectados
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
          <ul class="inside-img"  >
                <li class="inside-img" routerLink="/conversation/{{user.userId}}" *ngFor="let user of usersOffLine">  <img src="../../assets/logo_live_offline.png" alt="image_Status" class="img_li">    {{user.nick}} </li>
          </ul>
      </div>
    </div>
  </div>



  <div class="card">
      <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        
          Amigos
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
         <div class="card-body">
          <ul>
              <li class="inside-img" routerLink="/conversation/{{user.userId}}" *ngFor="let user of usersOnLine"> <img src="../../assets/logo_live_online.png" alt="image_Status" class="img_li">  {{user.nick}} </li>
              <li class="inside-img" routerLink="/conversation/{{user.userId}}" *ngFor="let user of usersAbsent"> <img src="../../assets/logo_live_away.png" alt="image_Status" class="img_li"> {{user.nick}} </li>
              <li class="inside-img" routerLink="/conversation/{{user.userId}}" *ngFor="let user of usersOffLine">  <img src="../../assets/logo_live_offline.png" alt="image_Status" class="img_li">    {{user.nick}} </li>
         
           </ul>
      </div>
    </div>
  </div>
 



</div>




